DATABASE_URL=postgres://postgres:postgres@localhost:5432/{DB_NAME}
SERVER_SECRET_KEY=setup_server_secret_key
NEXT_PUBLIC_SUPABASE_URL=https://example.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY='setup_supabase_public_anon_key'

# Google Maps API配置
GOOGLE_MAP_API_KEY=your-google-maps-api-key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key